Dear {{ person.firstName }},

Thank-you for renewing your TWRFC membership.

You are receiving this email as whilst you are showing in the database as having membership for yourself, you have one (or more) children in GMS who don't appear to have any membership associated.

These are: {{ childrensNames }}

Despite you having paid, these children will still be appearing in the coaches' reports as non-members.
It's really easy for you to add youth-membership for them using the instructions at http://twrfc.com/mem/fix.

If the ommission is intentional and they won't be playing at TWRFC - can you let me know at support@twrfc.com and I will remove them from the database (and you will stop getting these emails).

Note - This is an automated email.

Thanks
Martin
TWRFC Membership Secretary