Dear {{ person.firstName }},

Thank-you for renewing your TWRFC membership.

You are receiving this email as you have one (or more) children with paid-up membership, but are not currently registered as players. 
These are: {{ childrensNames }}

Somewhat counter-intuatively age-grade player registration is a totally separate process from membership and required inorder to play age-grade rugby (even at U6s!). We are required by RFU Regulations that All Age Grade Players must be registered on the RFU’s online Game Management system (GMS) within 45 days of them first joining the Club.

You can complete Age Grade Registration online in GMS using the instructions at http://twrfc.com/reg/update.

If the ommission is intentional and they won't be playing at TWRFC - can you let me know at support@twrfc.com and I will remove them from the database (and you will stop getting these emails)

Note - This is an automated email.

Thanks
Martin
TWRFC Membership Secretary