Dear {{ person.firstName }},
                    
I am contacting you as one (or more) of your children are associated to TWRFC in GMS but don't seem to have membership associated to them since we switched to GMS.
If you think this is an error (and with GMS all things are possible), please reply to this email and I'll help to resolve. In some circumstances people end up with multiple records that causes them to erroneously fall into filters.

I'm trying to keep the data we hold on minors to a minimum (i.e just members and registered players). I will shortly be disasocciating them from the Club in GMS. They will be most welcome back if they decide to play.

The affected children: {{ childrensNames }}


If you decide instead to join - membership can be bought online using the guide at twrfc.com/mem.buy and is available at a reduced rate for anybody joining post-Christmas.

Note - This is an automated email.

Thanks
Martin
TWRFC Membership Secretary