Dear {{ person.firstName }},
                    
I am contact you as one or more of your children had active membership with TWRFC last-season but seems to not have renewed this season.
These are: {{ childrensNames }}
                   
If you had already discussed this with your team-manager or think this is an error (and with GMS all things are possible), then please reply to this email and I'll try and resolve things.  In some circumstances people end up with multiple records that causes them to erroneously fall into filters.
                  
If this is intentional and they have made the catestrophic decision to no longer play rugby at TWRFC (what a shame!) can you let me know at support@twrfc.com and I will remove them from the database (and you will stop getting these emails).  I'm sure the coaches would apprecate an email too.
                 
Otherwise we'd be very grateful if you would renew the membership ASAP, and not to put too blunt a point on it... pay! Membership subscriptions are a really important part of the club\'s income without which we would not be able to opperate.
If you are unable to pay or require special considerations, then there a number of options including the Anthony Clarke memorial fund which was established to help those who really require it - please get in touch and we can discuss options.
                
There is an online guide at twrfc.com/mem/buy
               
Note - This is an automated email.

Thanks
Martin
TWRFC Membership Secretary